<script> 
    function createDog(){
    var x = document.getElementById("dogInfo").elements[0].value;
    var y = document.getElementById("dogInfo").elements[1].value;
    var z = document.getElementById("dogInfo").elements[2].value;
    window.location.href = "create?title=" + x + "&color=" + y + "&local=" + z;
    }
</script>

<h1> Add Dog: </h1>
<hr>
<form id="dogInfo" >
  Breed: <input type="text" name="fname" ><br>
  Color: <input type="text" name="lname" ><br>
  Local: <input type="text" name="lname" ><br>
    <input type="button" onclick="createDog()" value="Add dog" />

</form> 


<br><br><hr>


<h1>View and Delete:</h1> <hr>

{{#each allDogs}}

    <h2> <li>Breed: {{type}}</li> </h2>
    <h2> <li>Color: {{color}} </li></h2>
    <h2> <li>Local: {{local}}</li> </h2>
<form>
  <input type="button" onclick="location.href='get?title={{type}}';" value="Search" />
  <input type="button" onclick="location.href='delete?title={{type}}';" value="Delete from Array"/>
</form>
<br><hr>

{{/each}}
